*{
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000c4;
    overflow-x: hidden;
}

/* Navbar styles */
.navbar {
    background-color: #070707e5;
    padding: 20px 40px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 1);
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    font-size: 16px;
}

.nav-links a {
    color: #DEDEDE;
    text-decoration: none;
}

.nav-links a:hover,
.nav-links img:hover {
    cursor: pointer;
    color: #bbbbbb;
}

.nav-links a:active {
    color: #ffffff;
}
#menu-toggle{
    display: none;
    cursor: pointer;
}
#menu-toggle i{
    color: #DEDEDE;
    font-size: 20px;
}

/* Hero section styles */
.hero {
    height: 90vh;
}
.hero-content {
    background-image: url("../task2 (menu)/materials/images/background.png");
    background-size: cover;
    background-position: center;
    height: 70%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.hero-left-text{
    align-self: flex-start;
    margin-top: 50px;
}
.hero-left-text,.hero-right-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-left-text h2{
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}
.hero-left-text h2 span{
    opacity: 0.5;
}
.hero-left-text h1{
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
}

.hero-left-text p{
    font-size: 16px;
    font-weight: 100;
    width: 274px;
    margin: 0px;
}


.hero-right-text h1{
    position: relative;
    width: 233px;
    font-size: 64px;
    font-weight: 700;
    margin: 0px;
}

.hero-right-text h1::before{
    content: "Fruit Mania";
    font-size: 16px;
    font-family: "Sacramento";
    font-weight: 400;
    color: #DEC700;
    position: absolute;
    top: 50px;
    right: 0;
}
.hero-right-text p{
    width: 351px;
    font-size: 16px;
    font-weight: 100;
    margin: 0px;
}

.hero-image {
    margin-top: 100px;
    max-width: 550px;
    width: 100%;
    height: auto;
    scale: 0.8;
}
.hero-footer {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-footer-card {
    width: 50%;
    height: 100%;
    background-color: #171719CC;
    z-index: 1;
    display: flex;

}
.hero-footer-card-image {
    height:100%;
    width: 30%;
}
.hero-footer-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-footer-card-content{
    width: 70%;
    height: auto;
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-footer-card-content h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    color: #ffffff;
}

.hero-footer-card-content p {
    font-size: 12px;
    font-weight: 100;
    margin: 0px;
    color: #ffffff;
}
.hero-footer-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-footer-card-text p{
    width: 60%;
}
.hero-footer-card-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-footer-card-price button {
    background-color: #DEC700;
    color: #000000;
    border: none;
    width: 96px;
    height: 37px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}
.hero-footer-card-price button:hover {
    background-color: #c9b501;
}
.hero-footer-card-price button:active {
    background-color: #a39300;
}

.hero-footer-card-price h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    color: #ffffff;
}
.hero-footer-card-price h3 span{
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
    margin: 0px;
    color: #ffffff;
}
.social-media {
    position: fixed;
    top: 15%;
    right: 0;
    background-color: #DEC700;
    height: 210px;
    width: 50px;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
}
.social-media ul {
    position: relative;
    left: -20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;

}
.social-media ul li a {
    color: #ffffff;
    font-size: 20px;
}

@media screen and (max-width: 950px) {
    .hero-image{
        margin: -15px;
    }
    .hero-left-text{
        align-self: center;
        text-align: center;
    }
    .hero-content {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .hero-footer {
        height: auto;
        flex-direction: column;
        gap: 5px;
    }
    .hero-footer-card {
        width: 100%;
    }
}


@media screen and (max-width: 550px) {
    .nav-links a{
        display: none;
    }

    #menu-toggle{
        display: block;
    }
    .hero-footer{
        width: 100%;
    }
    .hero-footer-card {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .hero-footer-card-content {
        width: 100%;
    }
    .hero-footer-card-image {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 400px) {
    .hero-right-text{
        scale: 0.7;
    }
    .hero-footer-card-content {
        flex-direction: column;
        text-align: center;
    }
    .hero-footer-card-text p{
        margin: 10px;
    }
    .hero-footer-card-text p{
        width: auto;
    }
}